<div *ngIf="!isAccessByLink" class="mt-3 col-md-12">
    <div *ngIf="!selectedPatient">
        <div *ngIf="loadedPatients && patients.length>0">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-2">
                            <h4 class="card-title mb-1"><span>{{'open.All cases' | translate }}</span></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body p-0">
                                <ng2-smart-table [settings]="alertsettings" [source]="alertSource"
                                    (userRowSelect)="handleGridSelected($event)"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="loadedPatients && patients.length==0">
            {{'open.No patients' | translate }}
        </div>
        <div *ngIf="!loadedPatients">
            <div>
                <p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
            </div>
        </div>
    </div>
    <div *ngIf="selectedPatient">
        <p><button class="ml-2 btn btn-primary" (click)="back();">{{'generics.Back' | translate }}</button></p>
    </div>
</div>
<div class="" *ngIf="loadedInfoPatient">
    <!--Statistics cards Starts-->
    <div class="row mt-2 match-height">
        <div class="col-xl-4 col-lg-12">
            <div class="card dash2-user">
                <div class="card-content">
                    <div class="card-body">
                        <div class="d-flex justify-content-end mb-1">
                            <button type="button" class="btn btn-sm btn-dark mb-0" style="cursor: not-allowed;"
                                [disabled]="true" (click)="goToTop()">{{'open.Contact' | translate }}</button>
                        </div>
                        <div class="text-center mb-4">
                            <em class="ft-user avatar mb-2 fa-4x"></em>
                            <h4 class="mb-0 mt-2" *ngIf="patientPermissions.data.patientInfo">
                                <span *ngIf="patientDataInfo.patientName"
                                    class="mr-1">{{patientDataInfo.patientName}}</span>
                                <span *ngIf="!patientDataInfo.patientName && !patientDataInfo.surname">{{'open.Unknown
                                    name' | translate }}</span>
                                <span *ngIf="patientDataInfo.surname">{{patientDataInfo.surname}}</span>

                            </h4>
                            <h4 class="mb-0 mt-2" *ngIf="!patientPermissions.data.patientInfo">
                                ********* **********
                            </h4>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <div class="dash-followers mr-4">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn bg-light-secondary px-2">
                                            <i class="ft-user"></i>
                                        </button>
                                        <div class="ml-2">
                                            <h5 class="mb-0" *ngIf="patientPermissions.data.patientInfo">
                                                <span *ngIf="patientDataInfo.gender">
                                                    <span *ngIf="patientDataInfo.gender=='male'">{{'personalinfo.Male' |
                                                        translate }}</span>
                                                    <span
                                                        *ngIf="patientDataInfo.gender=='female'">{{'personalinfo.Female'
                                                        | translate }}</span>
                                                </span>
                                                <span *ngIf="!patientDataInfo.gender">{{'generics.Unknown' | translate
                                                    }}</span>

                                            </h5>
                                            <h5 class="mb-0" *ngIf="!patientPermissions.data.patientInfo">
                                                *****
                                            </h5>
                                            <span class="grey">{{'personalinfo.Gender' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-ratings">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn bg-light-secondary px-2">
                                            <i class="ft-star"></i>
                                        </button>
                                        <div class="ml-2">
                                            <h5 class="mb-0" *ngIf="patientPermissions.data.patientInfo">
                                                <span *ngIf="patientDataInfo.birthDate">{{patientDataInfo.birthDate |
                                                    date}}</span>
                                                <span *ngIf="!patientDataInfo.birthDate">{{'generics.Unknown' |
                                                    translate }}</span>
                                            </h5>
                                            <h5 class="mb-0" *ngIf="!patientPermissions.data.patientInfo">
                                                **/**/****
                                            </h5>
                                            <span class="grey">{{'personalinfo.Birth Date' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="ml-2">
                                <h5 class="mb-0" *ngIf="patientPermissions.data.patientInfo">
                                    <span *ngIf="infoOneDisease.name">{{infoOneDisease.name}}</span>
                                    <span *ngIf="!infoOneDisease.name">{{'generics.Unknown' | translate }}</span>
                                    <span *ngIf="infoOneDisease.name">
                                        <span class="d-block">
                                            <span class="content-sub-header text-muted"
                                                *ngIf="infoOneDisease.xrefs!=undefined">
                                                <span *ngIf="infoOneDisease.xrefs.length>0">{{
                                                    infoOneDisease.xrefs[0].name}}:{{
                                                    infoOneDisease.xrefs[0].id}}</span>
                                                <span *ngIf="infoOneDisease.xrefs.length==0">{{ infoOneDisease.id
                                                    }}</span>
                                            </span>
                                            <span *ngIf="infoOneDisease.xrefs!=undefined" class="ml-1">
                                                <span *ngFor="let xref of infoOneDisease.xrefs ; let i = index">
                                                    <a *ngIf="xref.name=='Orphanet'" class="info"
                                                        href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={{xref.id}}&lng={{lang}}"
                                                        target="_blank" title="{{'generics.More Info' | translate }}"><i
                                                            class="ft-external-link"></i></a>
                                                    <a *ngIf="xref.name=='OMIM'" class="info"
                                                        href="https://omim.org/entry/{{xref.id}}" target="_blank"
                                                        title="{{'generics.More Info' | translate }}"><i
                                                            class="ft-external-link"></i></a>
                                                    <span *ngIf="i<(infoOneDisease.xrefs.length-1)"> </span>
                                                </span>
                                            </span>
                                        </span>
                                        <div class="">
                                            <p class="mb-0">{{infoOneDisease.desc}}</p>
                                        </div>
                                    </span>

                                </h5>
                                <h5 class="mb-0" *ngIf="!patientPermissions.data.patientInfo">
                                    **************
                                </h5>
                                <span class="grey">{{'clinicalinfo.Diagnosis' | translate }}</span>
                            </div>

                        </div>
                    </div>
                    <!--<div class="col-md-12" *ngIf="!patientPermissions.data.medicalInfo">
                        <p class="mb-0">No tienes permisos, logueate, y pide acceso!</p>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="card gradient-purple-love" (click)="goTo('linksympt')" style="cursor: pointer;">
                        <div class="card-content">
                            <div class="card-body py-0">
                                <div class="media pb-1">
                                    <div class="media-body white text-left">
                                        <h3 class="font-large-1 white mb-0" *ngIf="phenotype.data">
                                            {{phenotype.data.length}}</h3>
                                        <h3 class="font-large-1 white mb-0" *ngIf="!phenotype.data">0</h3>
                                        <span>{{'diagnosis.Symptoms' | translate }}</span>
                                    </div>
                                    <div class="media-right white text-right">
                                        <em class="fa-solid fa-file-waveform font-large-1"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="card gradient-ibiza-sunset" (click)="goTo('linkdocs')" style="cursor: pointer;">
                        <div class="card-content">
                            <div class="card-body py-0">
                                <div class="media pb-1">
                                    <div class="media-body white text-left">
                                        <h3 class="font-large-1 white mb-0">{{docs.length}}</h3>
                                        <span>{{'land.Documents' | translate }}</span>
                                    </div>
                                    <div class="media-right white text-right">
                                        <em class="fa-solid fa-book-medical font-large-1"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="card gradient-mint" (click)="goTo('linkcharts')" style="cursor: pointer;">
                        <div class="card-content">
                            <div class="card-body py-0">
                                <div class="media pb-1">
                                    <div class="media-body white text-left">
                                        <h3 class="font-large-1 white mb-0">{{events.length}}</h3>
                                        <span>{{'open.Seizures in the last' | translate }}
                                            <span *ngIf="rangeDate=='month'">{{'charts.month' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='quarter'">{{'charts.quarter' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='year'">{{'charts.year' | translate
                                                }}</span>
                                        </span>
                                    </div>
                                    <div class="media-right white text-right">
                                        <em class="fa-solid fa-bed-pulse font-large-1"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="card gradient-king-yna" (click)="goTo('linkdrugs')" style="cursor: pointer;">
                        <div class="card-content">
                            <div class="card-body py-0">
                                <div class="media pb-1">
                                    <div class="media-body white text-left">
                                        <h3 class="font-large-1 white mb-0">{{medications.length}}</h3>
                                        <span>{{'clinicalinfo.Medication' | translate}}</span>
                                    </div>
                                    <div class="media-right white text-right">
                                        <em class="fa-solid fa-prescription-bottle-medical font-large-1"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="linkdrugs" style="position: absolute;margin-top: -4em;"></a>
            <div class="row" *ngIf="medications.length > 0 && loadedDrugs">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-2">
                            <h4 class="card-title mb-1"><span>{{'clinicalinfo.Medication' |translate }}</span></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table text-center m-0">
                                        <thead>
                                            <tr>
                                                <th>{{'generics.Name' |translate }}</th>
                                                <th>{{'medication.mg/day' | translate }} *</th>
                                                <th>{{'generics.Start Date' | translate}}</th>
                                                <th>{{'generics.End Date' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let drug of medications ; let i = index">
                                                <td><strong>{{drug.drugTranslate}}</strong></td>
                                                <td>{{drug.dose}}</td>
                                                <td>{{drug.startDate | date}}</td>
                                                <td><span *ngIf="drug.endDate">{{drug.endDate | date}}</span><span
                                                        *ngIf="!drug.endDate">{{'medication.Currently taking' |
                                                        translate
                                                        }}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-block col-md-12 mt-1">
                                <p>* {{'open.The patient weight is' | translate }} {{weight |
                                    number : '1.0-2'}} kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="linksympt" style="position: absolute;margin-top: -4em;"></a>
    <div class="row match-height">

        <div class="col-xl-4 col-md-6" *ngIf="phenotype.data">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="card-title mb-2">
                            <span>{{'diagnosis.Symptoms' | translate }}</span>
                        </h4>
                        <div *ngIf="phenotype.data.length>0">
                            <div class="table-responsive">
                                <table class="table mb-0 table-wrapper-scroll-y my-custom-scrollbar bg-white"
                                    aria-labelledby="HPO">
                                    <tbody>
                                        <tr *ngFor="let hpo of phenotype.data ; let i = index">
                                            <td>
                                                <span>
                                                    <span class="float-right ml-1">
                                                        <button
                                                            (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomNcr);"
                                                            class="btn-outline-secondary btn btn-sm mr-1 mb-0 btn-fab round"
                                                            title="{{'generics.More information' | translate }} ({{hpo.id}})">
                                                            <em class="fa fa-info w-13"></em>
                                                        </button>
                                                    </span>
                                                    <span>
                                                        <span class="ml-1 custom-bold pointer"
                                                            (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomNcr);"><strong>{{hpo.name}}</strong>
                                                            - {{hpo.id}}</span>

                                                        <div class="ml-1" style="line-height: 0.5em !important;">
                                                            <span *ngIf="!hpo.onset">
                                                                {{'open.It has not been indicated when the symptom
                                                                appeared' | translate }}
                                                            </span>
                                                            <span *ngIf="hpo.onset">
                                                                {{'open.Appeared in' | translate }} {{hpo.onset | date:
                                                                'y': '' :
                                                                translate.currentLang}}
                                                            </span>

                                                        </div>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="phenotype.data.length==0">
                            {{'seizures.No symptoms have been added in Raito' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-6" *ngIf="patientPermissions.data.medicalInfo && loadedInfoPatient">
            <a id="linkcharts" style="position: absolute;margin-top: -4em;"></a>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-inline">
                        <span>{{'menu.Charts' | translate }}</span>
                    </h4>
                    <span class="optionsCharts">
                        <span><button class="mb-0 btn btn-sm btn-dark round mr-1" [disabled]="rangeDate=='month'"
                                (click)="loadDataRangeDate('month');">{{'charts.Last month' |
                                translate }}</button></span>
                        <span><button class="mb-0 btn btn-sm btn-dark round mr-1" [disabled]="rangeDate=='quarter'"
                                (click)="loadDataRangeDate('quarter');">{{'charts.Last quarter' |
                                translate }}</button></span>
                        <span><button class="mb-0 btn btn-sm btn-dark round mr-1" [disabled]="rangeDate=='year'"
                                (click)="loadDataRangeDate('year');">{{'charts.Last year' |
                                translate }}</button></span>
                    </span>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="events.length > 0 && loadedEvents">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">
                                        <span>{{'menu.Seizures' | translate }}</span>
                                        <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down"
                                            #p1="ngbPopover" [ngbPopover]="popContentseizures"
                                            popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                        <ng-template #popContentseizures>
                                            <span>
                                                {{'charts.infoSeizures' | translate }}
                                            </span>
                                            <button class="pull-right mt-2" style="margin-top: 1em;margin-bottom: 1em;"
                                                (click)="p1.close()">{{'generics.Close' |translate }}</button>
                                        </ng-template>
                                    </h4>
                                    <div id="line-chart2" class="height-100">
                                        <ngx-charts-line-chart [scheme]="lineChartOneColorScheme"
                                            [results]="lineChartSeizures" [gradient]="barChartGradient"
                                            [xAxis]="false" [yAxis]="true" [yAxisTickFormatting]='axisFormat'
                                            [legend]="barChartShowLegend" [showXAxisLabel]="false"
                                            [showYAxisLabel]="false" [xAxisLabel]="barChartXAxisLabel"
                                            [yAxisLabel]="barChartYAxisLabel" [yAxisTicks]="yAxisTicksSeizures" (select)="onSelect($event)" >
                                            <ng-template #tooltipTemplate let-model="model">
                                                <span>{{ model.name }}: {{ model.value }}</span>
                                                <span class="d-block"
                                                    *ngFor="let type of model.types ; let i = index">
                                                    {{type.type}}: {{type.count}}
                                                </span>
                                            </ng-template>
                                            <ng-template #seriesTooltipTemplate let-model="model">
                                                <div *ngFor="let mod of model; let i = index">
                                                    <span class="d-block">{{ mod.name}}: {{ mod.value
                                                        }}</span>
                                                    <span class="d-block"
                                                        *ngFor="let type of mod.types ; let j = index">
                                                        {{type.type}}: {{type.count}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                        </ngx-charts-line-chart>
                                    </div>
                                    <div *ngIf="rangeDate=='month'" class="center-elements col-12">
                                        <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                    </div>
                                    <div *ngIf="rangeDate!='month'" class="center-elements col-12">
                                        <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'MMM y': '' : translate.currentLang}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="events.length == 0 && loadedEvents">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">
                                        <span>{{'menu.Seizures' | translate }}</span>
                                        <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down"
                                            #p1="ngbPopover" [ngbPopover]="popContentseizures"
                                            popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                        <ng-template #popContentseizures>
                                            <span>
                                                {{'charts.infoSeizures' | translate }}
                                            </span>
                                            <button class="pull-right mt-2" style="margin-top: 1em;margin-bottom: 1em;"
                                                (click)="p1.close()">{{'generics.Close' |translate }}</button>
                                        </ng-template>
                                    </h4>
                                    <p class="mb-0">{{'charts.Noseizures' | translate }}
                                        <span *ngIf="rangeDate!=''">
                                            {{'charts.in the last' | translate }}
                                            <span *ngIf="rangeDate=='month'">{{'charts.month' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='quarter'">{{'charts.quarter' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='year'">{{'charts.year' | translate
                                                }}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="feels.length > 0 && loadedFeels">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">
                                        <span>{{'charts.Quality of life' |translate }}</span>
                                        <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down"
                                            #p1="ngbPopover" [ngbPopover]="popContentfeel"
                                            popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                        <ng-template #popContentfeel>
                                            <span>
                                                {{'charts.infoFeel' | translate }}
                                            </span>
                                            <button class="pull-right mt-2" style="margin-top: 1em;margin-bottom: 1em;"
                                                (click)="p1.close()">{{'generics.Close' |translate }}</button>
                                        </ng-template>
                                    </h4>
                                    <div id="line-chart2" class="height-100">
                                        <ngx-charts-line-chart [scheme]="lineChartOneColorScheme"
                                            [results]="lineChartHeight" [gradient]="barChartGradient"
                                            [xAxis]="false" [yAxis]="true"
                                            [legend]="barChartShowLegend"
                                            [showXAxisLabel]="false"
                                            [xAxisTickFormatting]="tickFormatting"
                                            [showYAxisLabel]="false" [xAxisLabel]=""
                                            [autoScale]="false" [showText]="false" (select)="onSelect($event)"
                                            [yAxisTicks]=[0,5] [yScaleMax]="5"
                                            [yAxisTickFormatting]="axisFormat">
                                            <ng-template #tooltipTemplate let-model="model">
                                                <span class="d-block">{{ model.name |date }}</span>
                                                <span *ngIf="model.value==5">{{'charts.Very happy' | translate
                                                    }}</span>
                                                <span *ngIf="model.value==4">{{'charts.Happy' | translate
                                                    }}</span>
                                                <span *ngIf="model.value==3">Normal</span>
                                                <span *ngIf="model.value==2">{{'charts.Sad' | translate
                                                    }}</span>
                                                <span *ngIf="model.value==1">{{'charts.Very sad' | translate
                                                    }}</span>
                                            </ng-template>
                                            <ng-template #seriesTooltipTemplate let-model="model">
                                                <div *ngFor="let mod of model; let i = index">
                                                    <span class="d-block">{{ mod.name |date }}</span>
                                                    <span *ngIf="mod.value==5">{{'charts.Very happy' | translate
                                                        }}</span>
                                                    <span *ngIf="mod.value==4">{{'charts.Happy' | translate
                                                        }}</span>
                                                    <span *ngIf="mod.value==3">Normal</span>
                                                    <span *ngIf="mod.value==2">{{'charts.Sad' | translate
                                                        }}</span>
                                                    <span *ngIf="mod.value==1">{{'charts.Very sad' | translate
                                                        }}</span>
                                                </div>
                                            </ng-template>
                                        </ngx-charts-line-chart>
                                        <div *ngIf="rangeDate=='month'" class="center-elements col-12">
                                            <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                            <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                            <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        </div>
                                        <div *ngIf="rangeDate!='month'" class="center-elements col-12">
                                            <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'MMM y': '' : translate.currentLang}}</span>
                                            <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'MMM y': '' : translate.currentLang}}</span>
                                            <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="feels.length == 0 && loadedFeels">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">
                                        <span>{{'charts.Quality of life' |translate }}</span>
                                        <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down"
                                            #p1="ngbPopover" [ngbPopover]="popContentfeel"
                                            popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                        <ng-template #popContentfeel>
                                            <span>
                                                {{'charts.infoFeel' | translate }}
                                            </span>
                                            <button class="pull-right mt-2" style="margin-top: 1em;margin-bottom: 1em;"
                                                (click)="p1.close()">{{'generics.Close' |translate }}</button>
                                        </ng-template>
                                    </h4>
                                    <p class="mb-0">{{'charts.No data saved' | translate }}
                                        <span *ngIf="rangeDate!=''">{{'charts.in the last' | translate }}
                                            <span *ngIf="rangeDate=='month'">{{'charts.month' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='quarter'">{{'charts.quarter' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='year'">{{'charts.year' | translate
                                                }}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="medications.length > 0 && loadedDrugs">
                        <div class="card mt-2 mb-2" #ContainerRef>
                            <div class="mb-2">
                                <div class="card-block m-0">
                                    <div class="row p-2" [ngClass]="(normalized)?'mb-4':''">
                                        <div class="col-12">
                                            <h4 class="card-title mb-2">
                                                <span>{{'clinicalinfo.Medication' |translate }}</span>
                                                <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down" #p1="ngbPopover" [ngbPopover]="popContentdrugs" popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                                <ng-template #popContentdrugs>
                                                    <span>
                                                        {{'charts.infoDrugs' | translate }}
                                                    </span>
                                                    </ng-template>
                                            </h4>
                                            <span class="text-muted"> 
                                                <label class="container pl-0">
                                                    <input type="checkbox" [(ngModel)]="normalized" (change)="normalizedChanged(normalized)">
                                                    <span class="checkmark"></span>
                                                    </label><span style="margin-left: 0.2rem !important;">{{titleDose}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div >
                                        <div class="height-100 pt-2">
                                            <ngx-charts-line-chart                                                
                                                [scheme]="lineChartColorScheme"
                                                [results]="lineChartDrugs" [gradient]="barChartGradient"
                                                [xAxis]="false" [yAxis]="true" [yAxisTickFormatting]='axisFormat'
                                                [legend]="false" [legendPosition]="'below'" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxisLabel]="barChartXAxisLabel"
                                                [yAxisLabel]="barChartYAxisLabel" [yAxisTicks]="yAxisTicksDrugs">
                                                <!--[timeline]="true"-->
                                            </ngx-charts-line-chart>                                    
                                        </div>
                                        <div *ngIf="rangeDate=='month'" class="center-elements col-12">
                                            <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                            <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                            <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        </div>
                                        <div *ngIf="rangeDate!='month'" class="center-elements col-12">
                                            <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'MMM y': '' : translate.currentLang}}</span>
                                            <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'MMM y': '' : translate.currentLang}}</span>
                                            <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        </div>
                                        <ngx-charts-legend fxFlex="100%" 
                                                            class="chart-legend" 
                                                            [data]="chartNames" 
                                                            [title]="'Legend Title'" 
                                                            [colors]="colors">
                                            </ngx-charts-legend>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6" *ngIf="medications.length == 0 && loadedDrugs">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">
                                        <span>{{'clinicalinfo.Medication' |translate }}</span>
                                        <em class="ft-info font-small-2 ml-1" style="cursor: pointer;" placement="down"
                                            #p1="ngbPopover" [ngbPopover]="popContentdrugs"
                                            popoverTitle="{{'charts.infoTitle' | translate }}"></em>
                                        <ng-template #popContentdrugs>
                                            <span>
                                                {{'charts.infoDrugs' | translate }}
                                            </span>
                                            <button class="pull-right mt-2" style="margin-top: 1em;margin-bottom: 1em;"
                                                (click)="p1.close()">{{'generics.Close' |translate }}</button>
                                        </ng-template>
                                    </h4>
                                    <p class="mb-0">{{'charts.There is no drug data stored' | translate }}
                                        <span *ngIf="rangeDate!=''">{{'charts.in the last' | translate }}
                                            <span *ngIf="rangeDate=='month'">{{'charts.month' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='quarter'">{{'charts.quarter' |
                                                translate }}</span>
                                            <span *ngIf="rangeDate=='year'">{{'charts.year' | translate
                                                }}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-6"
                        *ngIf="medications.length > 0 && loadedDrugs && events.length > 0 && loadedEvents">
                        <div class="card mb-2 mt-2" #ContainerRef1 id="line-chart4">
                            <div class="mb-2">
                            <div class="card-block m-0">
                                <div class="row p-2">
                                        <div class="col-12">
                                            <h4 class="card-title mb-2">
                                                <span>{{'charts.Drugs vs Seizures' | translate}}</span>
                                            </h4>
                                            <span class="text-muted">
                                                <label class="container pl-0">
                                                    <input type="checkbox" [(ngModel)]="normalized2" (change)="normalizedChanged2(normalized2)">
                                                    <span class="checkmark"></span>
                                                </label><span style="margin-left: 0.2rem !important;">{{titleDrugsVsDrugs}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                    <div class="height-100">
                                        <div id="chartdoseAvgDrugs" style="max-height: 100px;" class="ct-chart"
                                            height="200px"></div>
                                            <combo-chart-component
                                            [view]="[(ContainerRef1.offsetWidth-90), 100]"
                                            [scheme]="comboBarScheme"
                                            [colorSchemeLine]="colors"
                                            [colorsLineToll]="colorsLineToll"
                                            [results]="barChart"
                                            [animations]="animations"
                                            [lineChart]="lineChartSeries"
                                            [yAxisTickFormatting]="yLeftTickFormat"
                                            [yLeftAxisScaleFactor]="yLeftAxisScale"
                                            [yRightAxisScaleFactor]="yRightAxisScale"
                                            [yRightAxisTickFormatting]="yRightTickFormat"
                                            [gradient]="gradient"
                                            [xAxis]="showXAxis"
                                            [yAxis]="showYAxis"
                                            [legend]="false"
                                            [showGridLines]="showGridLines"
                                            [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel"
                                            [showRightYAxisLabel]="showYAxisLabel"
                                            [xAxisLabel]="false"
                                            [yAxisLabel]="yAxisLabel"
                                            [yAxisLabelRight]="yAxisLabelRight">
                                            </combo-chart-component>
                                        
                                    </div>
                                    <div *ngIf="rangeDate=='month'" class="center-elements col-12">
                                        <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                        <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'dd MMM': '' : translate.currentLang}}</span>
                                    </div>
                                    <div *ngIf="rangeDate!='month'" class="center-elements col-12">
                                        <span class="float-left font-small-3">{{xAxisTicks[0] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        <span class="d-none d-sm-inline font-small-3">{{xAxisTicks[1] | date: 'MMM y': '' : translate.currentLang}}</span>
                                        <span class="float-right font-small-3">{{xAxisTicks[2] | date: 'MMM y': '' : translate.currentLang}}</span>
                                    </div>
                                    <ngx-charts-legend fxFlex="100%" 
                                                            class="chart-legend" 
                                                            [data]="chartNames" 
                                                            [title]="'Legend Title'" 
                                                            [colors]="colors">
                                        </ngx-charts-legend>
                                        <div>
                                            <ngx-charts-legend fxFlex="100%" 
                                                            class="chart-legend" 
                                                            [data]="titleSeizuresLegend" 
                                                            [title]="'Legend Title'" 
                                                            [colors]="colors2">
                                            </ngx-charts-legend>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="linkdocs" style="position: absolute;margin-top: -4em;"></a>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="card-title mb-2">
                            <span>{{'land.Documents' | translate }}</span>
                        </h4>
                        <div class="row col-md-12" *ngIf="docs.length > 0">
                            <div class="table-responsive">
                                <table class="table text-center m-0">
                                    <thead>
                                        <tr>
                                            <th>{{'generics.Name' |translate }}</th>
                                            <th>{{'generics.Description' |translate }}</th>
                                            <th>{{'generics.Date' |translate }}</th>
                                            <th>{{'generics.Options' |translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let doc of docs ; let i = index">
                                            <td><strong>{{doc.name}}</strong></td>
                                            <td>{{doc.description}}</td>
                                            <td>{{doc.dateDoc | date}}</td>
                                            <td><span><a class="btn btn-sm btn-outline-dark mb-0"
                                                        href="{{accessToken.blobAccountUrl}}{{accessToken.containerName}}/{{doc.url}}{{accessToken.sasToken}}"
                                                        target="_blank" download>
                                                        <i class="fa fa-eye"></i></a></span>
                                                <!--<span><a class="ml-1 btn btn-sm btn-outline-dark mb-0" href="javascript:void(0)"
                                            (click)="openResults(doc.url, contentviewDoc, doc.name);"><i class="fa fa-eye"></i></a></span>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row col-md-12" *ngIf="docs.length == 0 && loadedDocs">
                            <p class="mb-0">{{'open.There are no documents' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12" *ngIf="patientPermissions.data.medicalInfo && !loadedInfoPatient">
            <div class="card">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12" *ngIf="!patientPermissions.data.medicalInfo">
            <div class="card">
                <div class="col-sm-12">
                    <div class="card mb-1 mt-1">
                        <div class="">
                            <div class="card-block">
                                <div class="row p-2">
                                    <div class="col-12">
                                        <h4 class="text-bold-500 mb-0"></h4>
                                        <p class="mb-0">{{'open.You dont have permissions, log in' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #contentInfoSymptomNcr let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <div class="content-header text-left">
            <h4>{{phenotype.data[selectedInfoSymptomIndex].name }} - {{phenotype.data[selectedInfoSymptomIndex].id }}
            </h4>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <div class="row col-md-12" class="p-2">
            <span
                *ngIf="phenotype.data[selectedInfoSymptomIndex].def!=null || phenotype.data[selectedInfoSymptomIndex].comment!=''">
                <h5><strong>{{'generics.Description' | translate }}</strong></h5>
                <span
                    *ngIf="phenotype.data[selectedInfoSymptomIndex].def!=null">{{phenotype.data[selectedInfoSymptomIndex].def}}
                </span>
                <span
                    *ngIf="phenotype.data[selectedInfoSymptomIndex].comment!=''">{{phenotype.data[selectedInfoSymptomIndex].comment}}</span>
            </span>
            <span
                *ngIf="phenotype.data[selectedInfoSymptomIndex].def==null && phenotype.data[selectedInfoSymptomIndex].comment==''">
                <h5><strong>{{'generics.Description' | translate }}</strong></h5>
                <span> {{'symptomssection.No description' | translate }} </span>
            </span>
        </div>

        <div *ngIf="phenotype.data[selectedInfoSymptomIndex].synonyms!=undefined" class="p-2">
            <h5><strong>{{'generics.Synonyms' | translate }}</strong></h5>
            <span *ngIf="phenotype.data[selectedInfoSymptomIndex].synonyms.length>0">
                <p *ngFor="let synonym of phenotype.data[selectedInfoSymptomIndex].synonyms ; let j = index"
                    [ngClass]="(j==phenotype.data[selectedInfoSymptomIndex].synonyms.length-1)?'mb-0':''">
                    <span>{{j+1}}. </span> <span *ngIf="synonym.label">{{synonym.label}}</span> <span
                        *ngIf="!synonym.label">{{synonym}}</span>
                </p>
            </span>
            <span *ngIf="phenotype.data[selectedInfoSymptomIndex].synonyms.length==0">
                {{'symptomssection.No synonyms' | translate }}
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <span>{{'land.See more information about the symptom' | translate }} <a
                href="https://hpo.jax.org/app/browse/term/{{phenotype.data[selectedInfoSymptomIndex].id}}"
                target="_blank"
                title=" {{phenotype.data[selectedInfoSymptomIndex].name}} ({{phenotype.data[selectedInfoSymptomIndex].id}}):">{{'land.here'
                | translate }}
                <i class="ft-external-link"></i></a></span>
    </div>
</ng-template>

<ng-template #contentviewDoc id="contentviewDoc" let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <div class="content-header text-left">
            <h4>{{nameTitle}}</h4>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <div class="p-2">
            <div>
                <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
                    <button type="button" class="btn btn-dark round mb-0" (click)="goToTop()">Go top</button>
                </span>
                <div class="mt-2 text-center">
                    <a id="initpos"></a>
                    <div style="text-align: justify;" class="textExtractedNcr" [innerHTML]=resultTextNcr></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>