<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="container-fluid">
    <div class="row almost-full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card bg-blue-grey bg-darken-3 px-4">
          <div class="card-header">
            <div class="card-image text-center">
              <i class="icon-key font-large-5 blue-grey lighten-4"></i>
            </div>
          </div>
          <div class="card-body">
            @if (!changed) {
              <div class="card-block">
                <div class="text-center">
                  <h4 class="text-uppercase text-bold-400 white">{{'menu.New Password' | translate }}</h4>
                </div>
                <form class="pt-4" (ngSubmit)="onSubmit()" #f="ngForm">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text">
                        <i class="ft-lock"></i>
                      </span>
                      <input type="password" class="form-control" name="password" id="password" placeholder="{{'generics.Password' | translate }}" ngModel required #password="ngModel" minlength="8" maxlength="24" validatePassword="password">
                    </div>
                    @if (password.invalid && (password.dirty || password.touched)) {
                      <small class="form-text text-muted danger">
                        @if (password.errors.invalidPassword) {
                          <div>
                            {{'recoverpass.Password must have' | translate }} {{'(!@#$%^&*(),.?\":{}|<>)'}}
                          </div>
                        }
                        @if (password.errors.required) {
                          <div>
                            {{'recoverpass.Password is required' | translate }}
                          </div>
                        }
                        @if ((password.errors.minlength || password.errors.maxlength) && !password.errors.required) {
                          <div>
                            {{'generics.Passwordlength' | translate }}
                          </div>
                        }
                      </small>
                    }
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text">
                        <i class="ft-lock"></i>
                      </span>
                      <input type="password" class="form-control" name="password2" id="password2" placeholder="{{'generics.Repeat password' | translate }}" ngModel required #password2="ngModel" [equalTo]="password">
                    </div>
                    @if (password2.errors?.equalTo) {
                      <small class="form-text text-muted danger">{{'generics.Passwordnomatch' | translate }}</small>
                    }
                  </div>
                  @if (!sending) {
                    <div class="form-group pt-2">
                      <div class="text-center mt-3">
                        @if (f.valid) {
                          <button class="btn btn-primary btn-raised btn-block" type="submit">{{'generics.Submit' | translate }}</button>
                        } @else {
                          <button class="btn btn-primary btn-raised btn-block" type="button" (click)="submitInvalidForm()">{{'generics.Submit' | translate }}</button>
                        }
                      </div>
                      <div class="text-center mt-3">
                        @if (showlink) {
                          <div class="white" ><a (click)="onForgotPassword()">{{'recoverpass.Rerequest a password' | translate }}</a></div>
                        }
                      </div>
                    </div>
                  }
                  @if (sending) {
                    <div class="form-group pt-2 text-center">
                      <span>
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i>
                      </span>
                    </div>
                  }
                </form>
              </div>
            }
            @if (changed) {
              <div class="card-block">
                <div class="text-center">
                  <h4 class="text-uppercase text-bold-400 white">{{'recoverpass.Password changed' | translate }}</h4>
                </div>
              </div>
            }
            <div class="card-footer bg-blue-grey bg-darken-3">
              <div class="float-start white"><a (click)="onLogin()">{{'menu.Login' | translate }}</a></div>
              <div class="float-end white"><a (click)="onRegister()">{{'menu.Register' | translate }}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
