<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid"><!-- gradient-red-pink-->
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400 mt-4">
          <div class="card-body">
            <div class="card-block">
              <h2 style="margin-bottom: 1rem;" class="text-center">{{'login.Login' | translate }}</h2>
              <form  (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="{{'generics.Email' | translate }}" ngModel required email #email="ngModel">
                    @if (!email.valid && (email.dirty || email.touched)) {
                      <small class="form-text text-muted danger">{{'generics.entervalidemail' | translate }}</small>
                    }
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'generics.Password' | translate }}" ngModel required #password="ngModel">
                    @if (!password.valid && (password.dirty || password.touched)) {
                      <small class="form-text text-muted danger">{{'generics.required' | translate }}</small>
                    }
                  </div>
                </div>
                @if (!sending) {
                  <div class="">
                    <div class="col-md-12">
                      @if (f.valid) {
                        <button class="btn btn-dark btn-block mb-0" type="submit"> {{'login.Login' | translate }}</button>
                      } @else {
                        <button class="btn btn-dark btn-block mb-0" type="button" (click)="submitInvalidForm()"> {{'login.Login' | translate }}</button>
                      }
                    </div>
                    <!--<a class="white" (click)="launchDemo()">Demo</a>-->
                  </div>
                }
                @if (sending) {
                  <div  class="form-group">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  </div>
                }
                @if (isBlockedAccount) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.Account is temporarily locked' | translate }}
                    </div>
                  </div>
                }
                @if (isLoginFailed) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.Login failed' | translate }}
                    </div>
                  </div>
                }
                @if (isAccountActivated) {
                  <div class="form-group">
                    <div class="col-md-12 success">
                      {{'login.Account activated' | translate }}
                    </div>
                  </div>
                }
                @if (supportContacted) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.supportContacted' | translate }}
                    </div>
                  </div>
                }
                @if (emailResent) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.emailResent' | translate }}
                    </div>
                  </div>
                }
                @if (errorAccountActivated) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.could not be activated' | translate }}
                    </div>
                  </div>
                }
                @if (isActivationPending) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.The account is not activated' | translate }}
                    </div>
                  </div>
                }
                @if (isBlocked) {
                  <div class="form-group">
                    <div class="col-md-12 danger">
                      {{'login.The account is blocked by an administrator' | translate }}
                    </div>
                  </div>
                }
              </form>
            </div>
          </div>
          <div class="card-footer" style="background: none;">
            <div class="float-start centerdiv"><a (click)="onForgotPassword()">{{'login.Recover Password' | translate }}</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <div class="card-body">
            <div class="card-block">
              <h2 style="margin-bottom: 1rem;" class="text-center">{{'login.First time here' | translate }}</h2>
              <p class="">{{'login.Create an account clicking here' | translate }}</p>
              <div class="col-md-12 centerdiv">
                <button class="btn btn-dark btn-block" [routerLink]="['/register']">{{'login.Create User' | translate }}</button>
              </div>
              <p class="">----- {{'login.or Log in with' | translate }} -----</p>
              <button type="button" class="btn btn-social btn-dark me-2" disabled style="cursor: not-allowed;"><i class="fa fa-google"></i>Google</button>
              <button type="button" class="btn btn-social btn-dark me-2" disabled style="cursor: not-allowed;"><i class="fas fa-cloud"></i>iCloud</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
