<div class="card row">
  <a id="initpos"></a>
  <section class="offset-md-2 col-md-8">
    <div class="modal-header mt-2">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
      <button type="button" class="pull-right btn btn-secondary btn-raised mb-0" (click)="back()">{{'generics.Back' | translate }}</button>
    </div>
    <div class="modal-body">
      <h5>{{'policy.CONTENT' | translate }}</h5>
      <ol>
        <li><a class="info" (click)="goTo('step1')">{{'prereg.t1' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step2')">{{'prereg.t2' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step3')">{{'prereg.t3' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step4')">{{'prereg.t4' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step5')">{{'policy.step1' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step6')">{{'prereg.t6' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step7')">{{'policy.step2' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step8')">{{'policy.step3' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step9')">{{'policy.step4' | translate }}</a></li>
        <li><a class="info" (click)="goTo('step10')">{{'policy.step5' | translate }}</a></li>
      </ol>
      <a id="step1"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">1. {{'prereg.t1' | translate }}</h6>
        <p>
          {{'prereg.a1' | translate }}
        </p>
      </div>
      <a id="step2"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">2. {{'prereg.t2' | translate }}</h6>
        <p>
          {{'prereg.a2.1' | translate }}
        </p>
      </div>
      <a id="step3"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">3. {{'prereg.t3' | translate }}</h6>
        <p>
          {{'prereg.a3' | translate }}
        </p>
      </div>
      <a id="step4"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">4. {{'prereg.t4' | translate }}</h6>
        <p>
          {{'prereg.a4' | translate }}
        </p>
      </div>
      <a id="step5"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">5. {{'policy.step1' | translate }}</h6>
        <p>
          {{'policy.step1-1' | translate }}:
        </p>
        <ul>
          <li>NIF: G-87894119</li>
          <li>{{'policy.step1-2' | translate }}: Calle Santa Fe 1, 2 E. 28224 – Pozuelo de Alarcón (Madrid)</li>
          <li>{{'generics.Email' | translate }}: support@foundation29.org</li>
        </ul>
      </div>
      <a id="step6"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">6. {{'prereg.t6' | translate }}</h6>
        <p>
          {{'prereg.a6' | translate }}
        </p>
      </div>
      <a id="step7"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">7. {{'policy.step2' | translate }}</h6>
        <p>
          {{'policy.step2-1' | translate }}:
        </p>
        <ul>
          <li>
            {{'policy.step2-2' | translate }}
          </li>
          <li>
            {{'policy.step2-3' | translate }}
          </li>
        </ul>
      </div>
      <a id="step8"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">8. {{'policy.step3' | translate }}</h6>
        <p>
          {{'policy.step3-1' | translate }}
        </p>
      </div>
      <a id="step9"></a>
       <div>
         <h6 class="pt-2 dark text-bold-600">9. {{'policy.step4' | translate }}</h6>
         {{'policy.step4-1' | translate }}:
         <ul>
            <li>
              {{'policy.step4-2' | translate }}
            </li>
            <li>
              {{'policy.step4-3' | translate }}
            </li>
            <li>
              {{'policy.step4-4' | translate }}
            </li>
            <li>
              {{'policy.step4-5' | translate }}
            </li>
            <li>
              {{'policy.step4-6' | translate }}
            </li>
          </ul>
  
          <p>{{'policy.step4-7' | translate }}</p>
       </div>
       <a id="step10"></a>
       <div>
         <h6 class="pt-2 dark text-bold-600">10. {{'policy.step5' | translate }}</h6>
         <p>
           {{'policy.step5-1' | translate }}
         </p>
       </div>
      <hr>
      <p>
        {{'policy.other1' | translate }}
      </p>
      <p>
        {{'policy.other2' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="back()">{{'generics.Back' | translate }}</button>
    </div>
  </section>
</div>