.input-group-text i{
  cursor:pointer;
}

.avatar{
  border-radius: 50%;
  border: 2px solid #009da0;
  padding: 0.3rem;
  width: 6.5rem;
    background-color: transparent;
    padding: 0.4rem;
    color:#009da0;
}

.card-footer {
  border-top: none;
}

.table td {
  border-top: none;
}


span{
  line-height: 1rem !important;
}

::ng-deep .chart-legend .legend-label-text {
  margin-top: 0.4em !important;
}

::ng-deep .chart-legend .legend-labels {
  border-top: 1px solid #dee2e6 !important;
}

::ng-deep .chart-legend .horizontal-legend li {
  display: block !important;
}

::ng-deep .chart-legend {
  display: block !important;
}

.optionsCharts{
  float: right !important;
}

::ng-deep .ngx-charts .grid-panel.odd rect {
  fill: none !important;
}

::ng-deep .legend-title{
  display: none !important;
}

::ng-deep .chart-legend .legend-wrap {
  width: 100% !important;
  padding: 1em !important;
}

.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #343a40;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media ( max-width: 350px ){

  .optionsCharts > span > button{
    font-size: 0.7rem !important;
  }
}