<!--Registration Page Starts-->

<div class="h-100">
  <div class=""><!--col-sm-12 my-auto-->
      <div class="mt-4 card card-block mx-auto" style="max-width: 30rem !important;">
          <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                  <div *ngIf="!isVerifyemail && !isFailEmail" class="card mx-auto">
                    <h2 class="text-center content-header mb-3">{{'registration.Registration' | translate }}</h2>
                      <form   (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="form-group">
                          <div class="">
                              <input type="text" class="form-control" name="userName" id="userName" placeholder="{{'generics.Name' | translate }}" ngModel required #userName="ngModel">
                          </div>
                          <small class="form-text text-muted danger" *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate }}</small>
                        </div>
                        <div class="form-group">
                          <div class="">
                              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="{{'personalinfo.Last Name' | translate }}" ngModel required #lastName="ngModel">
                          </div>
                          <small class="form-text text-muted danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">{{'generics.required' | translate }}</small>
                        </div>
                        <div class="form-group">
                          <div class="">
                              <input type="email" class="form-control" name="email" id="email" placeholder="{{'generics.Email' | translate }}" [(ngModel)]="emailpar1" ngModel required email #email="ngModel">
                          </div>
                          <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
                        </div>
                        <div class="form-group">
                          <div class="">
                              <input type="email" class="form-control" name="email2" id="email2" placeholder="{{'registration.Repeat email' | translate }}" [(ngModel)]="emailpar2" ngModel required email2 #email2="ngModel" [equalTo]="email">
                          </div>
                          <small class="form-text text-muted danger" *ngIf="email2.errors?.equalTo">{{'registration.The email do not match' | translate }}</small>
                        </div>
                        <div class="form-group">
                          <div class="">
                              <input type="password" class="form-control" name="password" id="password" placeholder="{{'generics.Password' | translate }}" ngModel required #password="ngModel" minlength="8" maxlength="24" validatePassword="password">
                          </div>
                          <small *ngIf="password.invalid && (password.dirty || password.touched)" class="form-text text-muted danger">
                            <div *ngIf="password.errors.invalidPassword">
                              {{'recoverpass.Password must have' | translate }} {{'(!@#$%^&*(),.?\":{}|<>)'}}
                            </div>
                            <div *ngIf="password.errors.required">
                              {{'recoverpass.Password is required' | translate }}
                            </div>
                            <div *ngIf="(password.errors.minlength || password.errors.maxlength) && !password.errors.required">
                              {{'generics.Passwordlength' | translate }}
                            </div>
                          </small>
                        </div>
                        <div class="form-group">
                          <div class="">
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="{{'generics.Repeat password' | translate }}" ngModel required  #password2="ngModel" [equalTo]="password">
                          </div>
                          <small class="form-text text-muted danger" *ngIf="password2.errors?.equalTo">{{'generics.Passwordnomatch' | translate }}</small>
                        </div>
                        <p *ngIf="!openedTerms" class="font-small-2">
                          {{'registration.IMPORTANT NOTE' | translate }}
                        </p>
                          <div class="form-group col-sm-offset-1">
                            <mat-checkbox (click)="openTerms()" [attr.title]="!openedTerms ? 'You must read and understand the privacy policy in order to activate this field.' : 'This field is required'"
                                class="example-margin"
                                [disabled]="!openedTerms" name="terms" ngModel required #terms="ngModel" id="terms">

                            </mat-checkbox>
                            <label style="margin-bottom: auto !important;">
                              <a (click)="openTerms()" class="ml-1 btn-flat">
                                <small style="margin-top: 1em;white-space: normal;text-transform: none;letter-spacing: 0px;"> {{'registration.I have read and understood the' | translate }}
                                </small>
                                <i class="ft-external-link"></i>
                              </a>
                            </label>
                            <small class="form-text text-muted danger" *ngIf="!terms.valid && (terms.dirty || terms.touched) && openedTerms">{{'generics.required' | translate }}</small>
                            <small class="form-text text-muted danger" *ngIf="!terms.valid && (terms.dirty || terms.touched) && !openedTerms">{{'registration.It is mandatory to read the privacy policy before continuing' | translate }}</small>

                          </div>
                          <div class="form-group text-center">
                              <button (click)="goToLogin()" type="button" class="btn btn-grey btn-outline-grey">{{'generics.Cancel' | translate }}</button>
                              <span *ngIf="!sending">
                                <div *ngIf="f.valid && openedTerms;then formValid else formError"></div>
                                <ng-template #formValid><button class="ml-2 btn btn-dark" type="submit"> {{'registration.Get Started' | translate }}</button></ng-template>
                                <ng-template #formError><button class="ml-2 btn btn-dark" type="button" (click)="submitInvalidForm()"> {{'registration.Get Started' | translate }}</button></ng-template>
                              </span>
                              <span *ngIf="sending">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i>
                              </span>
                          </div>
                          <div *ngIf="isEmailBusy" class="form-group text-center">
                              <span class="pl-2 text-muted danger">{{'registration.email already exists' | translate }}</span>
                          </div>
                      </form>
                  </div>
                  <div *ngIf="isVerifyemail" class="card-block mx-auto">
                    <div class="col-md-12 mb-2">
                      <span class="">{{'registration.Check the email' | translate }} <a mailto="support@foundation29.org" href="mailto:support@foundation29.org">support@foundation29.org</a></span>
                    </div>
                    <div class="col-md-12">
                      <button (click)="goToLogin()" type="button" class="btn btn-dark btn-block btn-raised">{{'menu.Login' | translate }}</button>
                    </div>
                  </div>
                  <div *ngIf="isFailEmail" class="card-block mx-auto">
                    <span class="pl-2 text-muted danger">{{'registration.could not be sent to activate' | translate }}</span>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Registration Page Ends-->
